*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    min-height: 100vh;

    font-family: $font-primary;
    color: white;

    background: linear-gradient(to top left, 
        $color-primary-bg, 
        $color-secondary-bg, 
        $color-tertiary-bg
    );
}

::selection {
    background-color: $color-primary;
    color: white;
}
