// Colours
$color-primary: lightcoral;

$color-primary-bg: #355c7d;
$color-secondary-bg: #6c5b7b;
$color-tertiary-bg: #c06c84;

$color-dark: #1f2326;
$color-dark-light: #414141;

$color-grey-light-primary: #f2f2f2;
$color-grey-light-secondary: #e1e1e1;

$color-grey-dark: #777777;

// Fonts
$font-primary: Montserrat, Arial, Helvetica, sans-serif;
$font-secondary: "Josefin Sans", Arial, Helvetica, sans-serif;

// Search Bar
$sb-active-bg: rgba(black, .4);
$sb-inactive-bg: rgba(black, .2);
$sb-underline-height: .3rem;
$sb-btn-width: 6rem;
$sb-icon-diameter: 3.2rem;
$sb-border-radius: .6rem;

// Notes
$fab-diameter: 6rem;
$fab-icon-rotation: 135deg;
$fab-offset: 3rem;

$notes-pane-color: #2a2a2a;
$notes-pane-transition: transform .55s ease-in-out;

$note-pane-width: 30rem;
